<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.successful">
    <!-- 允许网络打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_my"
        android:supportsRtl="true"
        android:theme="@style/Theme.Successful">
        <activity
            android:name=".SunShade"
            android:exported="true" />
        <activity
            android:name=".Lights_control"
            android:exported="true" />
        <activity
            android:name=".Heat"
            android:exported="true" />
        <activity
            android:name=".FanActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FunctionActivity" />
    </application>

</manifest>